<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_index.css">
    <link rel="stylesheet" href="app.js">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Movie Info</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">MOVIE INFO</h1>
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active">Home</li>
                    <li class="menu-list-item">Movies</li>
                    <li class="menu-list-item">Halls</li>
                    <li class="menu-list-item">Trailers</li>
                    <li class="menu-list-item"><a href="">Booking</a></li>

                </ul>
            </div>
            <div class="profile-container">
                <img class="profile-picture" src="img/mprofile.jpeg" alt="">
                <div class="profile-text-container">
                    <span class="profile-text">Profile</span>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="toggle">
                    <i class="fas fa-moon toggle-icon"></i>
                    <i class="fas fa-sun toggle-icon"></i>
                    <div class="toggle-ball"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <i class="left-menu-icon fas fa-home"></i>
        <i class="left-menu-icon fas fa-users"></i>
        <i class="left-menu-icon fas fa-film"></i>
        <i class="left-menu-icon fas fa-ticket-alt"></i>
        <i class="left-menu-icon fas fa-search"></i>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/f9\ background.jpg');">
                <img class="featured-title" src="img/f9name.jpg" alt="">
                <p class="featured-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
                    deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
                    minima voluptatibus incidunt. Accusamus, provident.</p>
                <button class="featured-button"><a href="https://www.cineplexbd.com/">CHECK NOW</a></button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">CINEPLEX</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/f9_1.jpg" alt="">
                            <span class="movie-list-item-title">F9: The Fast Saga</span>
                        <!--<p class="movie-list-item-desc"></p> --> 
                            <button class="movie-list-item-button"><a href="https://www.cineplexbd.com/">VISIT CINEPLEX</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/shang.jpg" alt="">
                            <span class="movie-list-item-title">Shang Chi</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://www.cineplexbd.com/">VISIT CINEPLEX</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/jungle cruise.jpg" alt="">
                            <span class="movie-list-item-title">Jungle Cruise</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://www.cineplexbd.com/">VISIT CINEPLEX</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/free guy.png" alt="">
                            <span class="movie-list-item-title">Free Guy</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://www.cineplexbd.com/">VISIT CINEPLEX</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/the green knight.jpg" alt="">
                            <span class="movie-list-item-title">The Green Knight</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://www.cineplexbd.com/">VISIT CINEPLEX</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/no time to die.jpg" alt="">
                            <span class="movie-list-item-title">No Time To Die</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Athic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://www.cineplexbd.com/">VISIT CINEPLEX</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/venom.jpg" alt="">
                            <span class="movie-list-item-title">Venom</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://www.cineplexbd.com/">VISIT CINEPLEX</a></button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">BLOCKBUSTER MOVIES</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/Jumanji.jpeg" alt="">
                            <span class="movie-list-item-title">Jumanji</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://blockbusterbd.com/">VISIT BLOCKBUSTER</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/sonic.jpg" alt="">
                            <span class="movie-list-item-title">Sonic The Hedgehog</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://blockbusterbd.com/">VISIT BLOCKBUSTER</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/robibar.jpg" alt="">
                            <span class="movie-list-item-title">Robibar</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://blockbusterbd.com/">VISIT BLOCKBUSTER</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/knivesout.jpg" alt="">
                            <span class="movie-list-item-title">Knives Out</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://blockbusterbd.com/">VISIT BLOCKBUSTER</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/bloodshot.jpg" alt="">
                            <span class="movie-list-item-title">Bloodshot</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://blockbusterbd.com/">VISIT BLOCKBUSTER</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/shahenshah.jpg" alt="">
                            <span class="movie-list-item-title">Shahensha</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://blockbusterbd.com/">VISIT BLOCKBUSTER</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/chol jai.jpg" alt="">
                            <span class="movie-list-item-title">Chol Jai</span>
                            <!--<p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>-->
                            <button class="movie-list-item-button"><a href="https://blockbusterbd.com/">VISIT BLOCKBUSTER</a></button>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/shang 1.jpg');">
                <img class="featured-title" src="img/Shang name.jpg" alt="">
                <p class="featured-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
                    deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
                    minima voluptatibus incidunt. Accusamus, provident.</p>
                <button class="featured-button"><a href="https://www.youtube.com/watch?v=8YjFbMbfXaQ">WATCH TRAILER</a></button>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">Watch Trailers</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/1.jpeg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button"><a href="https://www.youtube.com/watch?v=8YjFbMbfXaQ">Watch Trailer</a></button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/2.jpeg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/15.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/3.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/4.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/5.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/1.jpg" alt="">
                            <span class="movie-list-item-title">Her</span>
                            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At
                                hic fugit similique accusantium.</p>
                            <button class="movie-list-item-button">Watch</button>
                        </div>
            </div>
        </div>
    </div>
    </div>

   
    <script src="app.js"></script>
</body>

</html>