body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/1567666.png);
    background-position: center;
    background-size: cover;
    
}
.logo{
    width: 150px;
    margin-top: 18px;
}
.header{
    height: 10%;
}
.header-btn{
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 20px;
    float: right;
    margin-top: 15px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}
.movie-details{
    margin: 3% 0;
}
.left-box{
    color: #fff;
    margin: 15px 0;
    padding: 20px;
}
.casting img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}
.left-box a{
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 10px;
    float: right;
    margin-top: 15px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}
.book-btn{
    border: 1px solid #fff !important;
    background: transparent !important;
}
.fa{
    margin: 0 5px;
}
.movie-img{
    height: 350px;
    box-shadow: -4px 4px 5px 0 #000;
}